<div class="row centered-form">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sign In</h3>
        </div>
        <div class="panel-body">
            <form role="form" ng-submit="login()">
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" placeholder="Username" name="username" type="text" autofocus="" ng-model="credentials.username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" name="password" type="password" ng-model="credentials.password">
                    </div>
                    <div>
                        <label>
                            <a ui-sref="signup">Sign Up</a>
                        </label>
                        <label>
                            <a ui-sref="resetPassword">Reset Password</a>
                        </label>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="errorMessage">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{errorMessage}}
                    </div>
                    <button type="submit" ladda="config.loading" data-style="expand-right" class="btn btn-sm btn-success">Login</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>