<div class="row">

    <div class="panel panel-default">

        <div class="panel-heading">User Management</div>

        <table class="table table-hover table-striped">
            <tr>
            	<th>First Name</th>
            	<th>Last Name</th>
            	<th>Username</th>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.username}}</td>
            </tr>
        </table>
    </div>

</div>